@import '~theme'

//Move this into a global style
*
  box-sizing: border-box
body
  margin: 0
  color: $text-color

routine-editor
  display: flex
  height: 100vh
  padding: 10px
  font-family: Helvetica, sans-serif

.RoutineEditor
  &__configure
    flex: 1 100 500px
    max-width: 500px
    min-width: 300px
    margin: 10px

  &__divider,
  &__divider--vertical,
  &__divider--horizontal,
    border-radius: 5px
    background: $text-color
    flex: 0 0 auto

  &__divider,
  &__divider--vertical,
    width: 5px

  &__divider--horizontal,
    height: 5px

  &__preview
    position: relative
    flex: 100 1 500px
    min-width: 400px
    padding-left: 10px
