<nav class="RoutinePlayer__navigation">
  <h1 class="RoutinePlayer__label"></h1>
  <div class="RoutinePlayer__progressWheel">
    <svg class="RoutinePlayer__svg" viewbox="0 0 100 100">
      <circle 
         class="RoutinePlayer__circle--track"
         r="46"
         cx="50"
         cy="50"
      ></circle>
      <circle 
         class="RoutinePlayer__circle"
         r="46"
         cx="50"
         cy="50"
      ></circle>
      <svg viewBox="0 0 163.861 163.861" height=30 width=30 x=37 y=35 class="RoutinePlayer__nextButton">
        <path d="M34.857,3.613C20.084-4.861,8.107,2.081,8.107,19.106v125.637c0,17.042,11.977,23.975,26.75,15.509L144.67,97.275 c14.778-8.477,14.778-22.211,0-30.686L34.857,3.613z"/>
      </svg>
    </svg>
  </div>
</nav>
<div class="RoutinePlayer__steps">
  <h1>Steps</h1>
</div>
<!--semantic mark up?-->
<!--<div class="RoutinePlayer__stepInfo">-->
  <!--<h3 class="RoutinePlayer__stepLabel"></h3>-->
  <!--<div class="RoutinePlayer__stepDetails"></div>-->
<!--</div>-->
