@import '~theme'

routine-editor-card
  border-radius: 3px
  display: block
  margin: 20px 0
  padding: 10px

  .RoutineEditor__divider--horizontal
    background: lighten($text-color, 30)

.RoutineCard
  &__field
    display: flex
    padding-bottom: 10px

    label
      display: inline-block
      padding-right: 10px
      text-align: right
      width: 100px
    input
      font-size: 1em
    textarea
      display: inline-block
      font-family: inherit
      font-size: 1em
      height: 100px
      resize: vertical

    input, textarea
      border: none
      flex: 1 1 auto
      outline: none
      &::placeholder
        color: lighten($text-color, 30)
        opacity: 1
